
*{  
   margin:0;  
   padding:0;  
}


body{  
   text-align:center; /*For IE6 Shenanigans*/  
} 

#wrapper{  
   width:600px;  
   margin:0 auto;  
}  


#content
{
  
font-family: 'Open Sans', sans-serif;
 
margin-top: 100px;
  
min-height: 600px;
   }



#top
{
  
text-align: center; 
  
letter-spacing: 8px;
  
font-size: 1.3em;
  
padding-bottom: 5px;
}



#background
{
  
background: url(pic.jpg);
  
width: 600px;
  
height: 400px;

}



#transbox
{
  
background-color:#ffffff;
  
opacity:0;
  
width: 599px;
  
height: 399px;
  
border: 1px solid black;
}



#transbox:hover
{

opacity:0.65;
  
}



#transtext
{
  
color:#000000;
  
margin-top: 100px;

}



#footer
{
  
margin-top: 5px;
bottom: 5px;
  
font-size: 0.5em;
  
text-align: center;

}


